[sadm.webhook:testing]
provider = testing
vcs = git
path = /usr/src/bitbucket/testing

[sadm.webhook:testing.proverr]
provider = proverr
vcs = git
path = /usr/src/bitbucket/testing

[sadm.webhook:vcs.error]
provider = testing
vcs = vcserr
path = /usr/src/bitbucket/testing

[_sadmtest.mock.hook.exec_push]
shutil =
	; mktmp, suffix=.webhook.repo.git.json, prefix=_sadm.listen.exec, dir=None, remove=False
cmd.check_call =
	0; echo '/opt/sadm/bin/python3 /opt/src/sadm/listen/exec.py /tmp/_sadm.listen.exec.webhook.repo.git.json' | at now

[_sadmtest.mock.hook.cmd_error]
cmd.check_call =
	1; echo '/opt/sadm/bin/python3 /opt/src/sadm/listen/exec.py /tmp/_sadm.listen.exec.webhook.repo.git.json' | at now
shutil =
	; mktmp, suffix=.webhook.repo.git.json, prefix=_sadm.listen.exec, dir=None, remove=False
