.centerscreen-container {
	display: table;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	position: fixed;
}
.centerscreen-inner {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.rec-download .fa {
	color: green;
}
.rec-failed .fa {
	color: red;
}

.pure-button-enorme {
	font-size: 300% !important;
}
.pure-button-small {
	font-size: 85% !important;
}
.pure-button-compact {
  padding: 0.2em 0.5em !important;
}
.arancione {
	color: darkorange;
}
.ongoing-all {
	background: #eeeeee;
	border-radius: 2em;
}
.ongoing-one {
	margin: 1em;
}
.ongoing-one:nth-child(even) {
	background: #cccccc;
}
.ongoing-one:nth-child(odd) {
	background: #dddddd;
}

/* Archive */
#ongoing-recs-table td {
	text-align: center;
}
#ongoing-recs-table td:first-child {
	text-align: left;
}
#ongoing-recs-table td:last-child {
	text-align: right;
}
