body {
    background-color: #3d4057;
    border: none;
    color: white;
    font-family: Open Sans, sans-serif;
    margin: 0;
    padding: 0;
}

#content {
    border: none;
    height: 100%;
    margin: 0;
    text-align: center;
    width: 100%;
}

input {
    align-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid grey;
    display: inline-flex;
    height: 2.5em;
}

input:hover, input:active, input:focus  {
    border-color: #424242;
}

input[type="submit"] {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: black;
    height: 3em;
    justify-content: center;
    margin: 1em;
    padding: 2px 14px;
    transition: 0.2s;
}

input[type="submit"]:hover {
    background-color: #424242;
    color: white;
}

